
<div class="container">
  <br>
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <h1>Merci pour ces informations</h1>
          <p>sociétés ont des prestations qui correspondent à vos attentes, sélectionnez celles avec qui vous souhaitez être mis en relation !</p>
        </div>
      </div>
    </div>
  </div>
