
<div class="container">
  <div class="row text-center">
    <div class="col-xs-12">
      <h1>Pages#home</h1>
      <p>Find me in app/views/pages/home.html.erb</p>
      <%= link_to new_path, class: "main-cta" do %>
        <span>Trouver le bon pro</span>
      <% end %>
    </div>
  </div>
</div>
